body{
   font-family: 'Nunito';
   background-image: url("robot.png");
   background-repeat: no-repeat, repeat;
   background-color: #dddddd;
}

#m1{
    font-size: 18px;
    color: #575ed8;
    position: absolute;
	left: 280px;
    top: 50px;
}

#m2{
    font-size: 18px;
    color: #575ed8;
    position: absolute;
	left: 280px;
    top: 150px;
}

#m3{
    font-size: 18px;
    color: #575ed8;
    position: absolute;
	left: 280px;
    top: 250px;
}

#m4{
    font-size: 18px;
    color: #575ed8;
    position: absolute;
	left: 280px;
    top: 350px;
}

#m5{
  font-size: 18px;
  color: #575ed8;
  position: absolute;
  left: 280px;
  top: 450px;
}

#m1_l{
  position: absolute;
  left: 10px;
  top: 90px;
}

#m1_r{
    position: absolute;
    left: 320px;
    top: 90px;
}

#m2_l{
  position: absolute;
  left: 10px;
  top: 190px;
}

#m2_r{
    position: absolute;
    left: 320px;
    top: 190px;
}

#m3_l{
  position: absolute;
  left: 10px;
  top: 290px;
}

#m3_r{
    position: absolute;
    left: 320px;
    top: 290px;
}

#m4_l{
  position: absolute;
  left: 10px;
  top: 390px;
}

#m4_r{
    position: absolute;
    left: 320px;
    top: 390px;
}

#m5_l{
  position: absolute;
  left: 10px;
  top: 490px;
}

#m5_r{
    position: absolute;
    left: 320px;
    top: 490px;
}

button{
    background: #575ed8;
    color: #fff;
    width: 300px;
    heght: 50%;
}
